# Ignore everything
*

# But descend into directories
!*/

# unignore
!.gitignore
!*.py
!*.ipynb
!*.md
!*.png
!example_gtfs_bart/**/*.txt
!working_example_beijing_subway/inputs/*.csv

# Ignore
*.ipynb_checkpoints*
